<h1>Edit community</h1>

<form action="/community/{{singleCommunity._id}}?_method=PUT" method="POST">
    <input type="text" name="eventName" placeholder="event name" value="{{singleCommunity.eventName}}"/>
    <input type="date" name="date" placeholder="date of event" value="{{singleCommunity.date}}"/>
    <input type="Boolean" name="corporatePartner" placeholder="are you a corporate sponsor?" value="{{singleCommunity.corporateSponsor}}"/>
    <input type="Boolean" name="localPartner" placeholder="are you a local sponsor?" value="{{singleCommunity.localPartner}}"/>
    <input type="Boolean" name="relgiousPartner" placeholder="are you a religious organization?" value="{{singleCommunity.religiousPartner}}"/>
    <input type="text" name="paragraph" placeholder="event description" value="{{singleCommunity.paragraph}}"/>
    

    <input type="submit" value="Save"/>
</form>