<h1>{{singleCommunity.eventName}}</h1>

<p>date: {{singleCommunity.date}}</p>
<p>corporatePartner: {{singleCommunity.corporatePartner}}</p>
<p>localPartner: {{singleCommunity.localPartner}}</p>
<p>religousPartner:{{singleCommunity.religiousPartner}}</p>
<p>paragraph: {{singleCommunity.paragraph}}</p>



<a href="/community/edit/{{singleCommunity._id}}">

    <button>
        Edit event
    </button>
</a>

<form action="/community/{{singleCommunity._id}}?_method=DELETE" method="POST">
<input type="submit" value="Delete Community">
</form>