<h1>Edit your foodDonation event</h1>

<form action="/foodDonation/{{singleFoodDonation._id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="FoodDonation event" value="{{singleFoodDonation.name}}"/>
    <input type="date" name="date" placeholder="date of event" value="{{singleFoodDonation.date}}"/>
    <input type="text" name="time" placeholder="time of event" value="{{singleFoodDonation.time}}">
    <input type="text" name="paragraph" maxlength="10" placeholder="FoodDonation description" value="{{singleFoodDonation.foodType}}"/>
     <input type="submit" value="Save"/>
</form> 