<h1>{{singleFoodDonation.name}}</h1>
<p>Name: {{singleFoodDonation.name}}</p>
<p>date: {{singleFoodDonation.date}}</p>
<p>time: {{singleFoodDonation.time}}</p>
<p>foodType: {{singleFoodDonation.foodType}}</p>



<a href="/foodDonation/edit/{{singleFoodDonation._id}}">

    <button>
        Edit event
    </button>
</a>

<form action="/foodDonation/{{singlefoodDonation._id}}?_method=DELETE" method="POST">
<input type="submit" value="Delete foodDonation">
</form>

<a href="/foodDonation/{{_id}}">

    <button>
        home
    </button>
</a>