<h1>{{singleVolunteer.name}}</h1>
<p>Name: {{singleVolunteer.name}}</p>
<p>date: {{singleVolunteer.date}}</p>
<p>paragraph: {{singleVolunteer.paragraph}}</p>



<a href="/volunteer/edit/{{singleVolunteer._id}}">

    <button>
        Edit event
    </button>
</a>

<form action="/volunteer/{{singleVolunteer._id}}?_method=DELETE" method="POST">
<input type="submit" value="Delete volunteer">
</form>

<a href="/volunteer/{{_id}}">

    <button>
        home
    </button>
</a>